# MULTIPLE LINEAR REGRESSION

Multiple Linear Regression'da birden fazla bağımsız(independent) değişkene karşılık bir bağımlı(dependent) dğeişken bulunur.

Linear Regression veriler arasında var olan korelasyonu(ilişkiyi) kullanarak yeni gelecek verileri tahmin etme modelidir. Burada makine öğrenimi bize veriler arasındaki bu ilişkiyi belirlememize yardımcı olur ve bu sayede yeni verileri tahmin edebiliriz.

In [1]:

import pandas as pd
import matplotlib.pyplot as plt
# sklearn library
from sklearn import linear_model

# veri setimizi import ediyoruz, ayraç olarak noktalı virgül olduğu için bunu belirtiyoruz:
df = pd.read_csv("atmveri.csv",sep = ";")

In [2]:
# Veri setimizi görelim ve doğru import ettiğiniz kontrol edelim:
df

   bolge  islem     para
0      4     85  2560963
1      6     69  3600368
2      7     96  1000369
3      1     45   987456
4      5     97   875963
5      3     78   456987
6      2     45   321456
7      0     23   123654

In [4]:
df[['bolge', 'islem' ]]

   bolge  islem
0      4     85
1      6     69
2      7     96
3      1     45
4      5     97
5      3     78
6      2     45
7      0     23

In [5]:
df['para']

0    2560963
1    3600368
2    1000369
3     987456
4     875963
5     456987
6     321456
7     123654
Name: para, dtype: int64

In [7]:
# linear regression modeli tanımlıyoruz:

reg = linear_model.LinearRegression()
reg.fit(df[['bolge', 'islem' ]], df['para'])

# Prediction yapalım..

reg.predict([[4,23]]) # 4'üncü Bölgede günlük 23 işlem yapılan bir ATM'de bulunması gereken para miktarı

array([2534006.22451081])